@import url(./global-settings.css);
/* The styles/settings of HEADER and FOOTER can be found in the global-settings.css file */

.l-section-initial {
    align-items: flex-start;
    background: url("../img/images/street-image.jpg") no-repeat center center / cover fixed;
    border-bottom: 15px solid var(--color-pink);
    border-radius: 0 0 30% 0;
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 5rem 0 0 5rem;
}
.l-section-initial h1 {
    color: var(--color-white);
    font-size: 6rem;
}
.l-section-initial hr {
    background-color: var(--color-white);
    border: 2px solid var(--color-white);
    margin-left: 0.5rem;
}
.l-section-initial .crumb-path {
    background-color: var(--matte-pink);
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
}
.l-section-initial .crumb-path p {
    color: var(--color-white);
    font-size: 1.5rem;
}
.l-section-initial .crumb-path p span {
    font-family: monospace;
    font-weight: 600;
}
.l-section-initial .crumb-path p a {
    color: var(--color-white);
    font-weight: 600;
}

main {
    padding: 0 0 2rem 0;
}
.l-section-course {
    background-color: var(--color-gray-light);
    padding: 2rem 0 0 0;
}
.l-section-course .m-courses-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1100px;
    padding: 1rem 0.5rem 0 0.5rem;
}
.l-section-course .m-courses-cards .m-card {
    background-color: var(--color-white);
    box-shadow: 0 10px 30px var(--color-gray-medium);
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5rem 0.5rem;
    transition: 0.4s ease-out;
    width: 16rem;
}
.l-section-course .m-courses-cards .m-card:hover {
    cursor: pointer;
    transform: translateY(-2%);
    transition: 0.4s ease-out;
}
.l-section-course .m-courses-cards .m-card .m-card-background img,
.l-section-course .m-courses-cards .m-card .m-card-icon img {
    height: 100%;
    width: 100%;
}
.l-section-course .m-courses-cards .m-card .m-card-background {
    height: 6rem;
    width: 100%;
}
.l-section-course .m-courses-cards .m-card .m-card-icon {
    background-color: var(--color-white);
    border-radius: 50%;
    border: 2px solid var(--color-blue);
    height: 60px;
    margin: 0 auto;
    padding: 0.5rem;
    transform: translateY(-50%);
    width: 60px;
}
.l-section-course .m-courses-cards h4 {
    color: var(--color-blue);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0 0.5rem 0.5rem 0.5rem;
    text-align: center;
}
.l-section-course .m-courses-cards p {
    color: var(--color-black);
    font-size: 0.95rem;
    font-weight: 400;
    padding: 0 0.5rem 2rem 0.5rem;
    text-align: center;
}
.l-section-course .m-courses-cards a {
    background-color: var(--color-pink);
    color: var(--color-white);
    display: block;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
    transition: 0.3s ease-out;
    width: 100%;
}
.l-section-course .m-courses-cards a:hover {
    background-color: var(--dark-pink);
    transition: 0.3s ease-out;
}

@media (max-width: 800px) {
    .l-section-initial {
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .l-section-initial h1 {
        font-size: 3rem;
    }
    .l-section-initial hr {
        margin: 0 auto;
    }
}