@import url(./_global-settings.css);
/* The styles/settings of HEADER and FOOTER can be found in the _global-settings.css file */

.l-section-initial {
    align-items: flex-start;
    background: url("../img/images/driver-image.jpg") center;
    display: flex;
    height: 500px;
    padding: 5rem 0 0 5rem;
}
.l-section-initial .m-call-to-action-1 h1 {
    color: var(--color-white);
    font-size: 3.5rem;
    margin: 0.5rem;
}
.l-section-initial .m-call-to-action-1 p {
    color: var(--color-white);
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0.5rem 0.5rem 1.5rem 0.5rem;
}
.l-section-initial .m-call-to-action-1 .m-buttons-cta a {
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: 0.3s ease-out;
    width: 120px;
}
.l-section-initial .m-call-to-action-1 .m-buttons-cta .m-button-see-more {
    background-color: var(--color-pink);
    color: var(--color-white);
}
.l-section-initial .m-call-to-action-1 .m-buttons-cta .m-button-see-more:hover {
    box-shadow: 5px 5px 0 var(--color-white);
    transition: 0.3s ease-out;
}
.l-section-initial .m-call-to-action-1 .m-buttons-cta .m-button-contact {
    background-color: var(--color-white);
    color: var(--color-pink);
}
.l-section-initial .m-call-to-action-1 .m-buttons-cta .m-button-contact:hover {
    box-shadow: 5px 5px 0 var(--color-pink);
    transition: 0.3s ease-out;
}
@media (max-width: 800px) {
    .l-section-initial {
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .l-section-initial .m-call-to-action-1 .m-buttons-cta {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .l-section-initial .m-call-to-action-1 h1,
    .l-section-initial .m-call-to-action-1 p { text-align: center; }

    .l-section-initial .m-call-to-action-1 h1 { font-size: 2.5rem; }
    .l-section-initial .m-call-to-action-1 p { font-size: 1rem; }
}

.l-section-features {
    background-color: var(--color-gray-light);
    padding: 2rem 0.5rem;
}
.l-section-features .m-group-of-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}
.l-section-features .m-group-of-cards .m-card {
    align-items: center;
    background-color: var(--color-white);
    border-radius: 50px;
    box-shadow: 0 10px 30px var(--color-gray-medium);
    cursor: default;
    display: flex;
    height: 18rem;
    justify-content: center;
    margin: 1rem;
    width: 16rem;
}
.l-section-features .m-group-of-cards .m-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.l-section-features .m-group-of-cards .m-card img {
    height: 78px;
    margin: 0 auto;
    width: 80px;
}
.l-section-features .m-group-of-cards .m-card p {
    color: var(--color-blue);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 0;
    text-align: center;
}